// ##################
//     SLACK COLOR SCHEME
// ##################

* {
  font-family: 'Lato', sans-serif;
  color: rgb(68,54,66);
}

.container-fluid {
  padding: 0;
  background-color: #eeeeee;
  min-height: 72.25rem;
}

.jumbotron { min-height: 50rem; }

a { color: rgba(68,54,66, 1); }

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: rgba(238, 238, 238, 0);
}

a:hover, a:focus {
  color: #000;
  text-decoration: none;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: rgba(68,54,66, 1);
  background-color: rgba(238, 238, 238, 0);
}

// ##################
//     TOP NAV BAR
// ##################

.top-nav {
  margin: 1rem;
  margin-right: 1.5rem;
}

.top-nav > li > a {
  font-weight: bold;
  padding: 7px 40px;
}

.logo { width: 10rem; }

.top-nav > li > .logo-text {
  font-size: 2rem;
  margin-top: -3px;
  margin-left: -4px;
}

#milks-link { box-shadow: inset 0 0 0 2px rgba(68,54,66, 1); }

#milks-link:hover, #milks-link:active { box-shadow: inset 0 0 0 2px #000; }

// ##################
//   BODY/BACKGROUND
// ##################

body { text-color: rgb(68,54,66); }

.jumbotron > section { margin-right: 10rem; }

// background yellow baby
.baby-face {
  position: absolute;
  bottom: 5rem;
  right: 10rem;
}

// ##################
//   DYNAMIC CONTENT
// ##################

// Toggles view of milk & stash info
#milks-section {
  display: none;
  margin-left: -5rem;
}

#stash-info { display: visible; }

#stash-more-info, #close-learn { display: none; }

#milk-info { display: none; }

// ##################
//   TOGGLE BUTTONS
// ##################

.btn-lg { margin: 2rem; }

.middle-me {
  margin: auto;
  max-width: 20rem;
}

// ##################
//   STARTING CHECKLIST
// ##################

.boxed {
  padding: 3rem;
  padding-top: .5rem;
  margin-top: 4rem;
  border: 1px solid #DEDEDE;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  background-clip: padding-box;
  max-width: 50%;
  font-weight: bold;
}

.how-to-stash {
  font-weight: bold;
  font-size: 4rem;
  color: #2C2D30;
  display: block;
  padding-bottom: 1.5rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #E5E5E5;
}

.how-to {
  list-style-type: none;
  padding-left: 0px;
}

.how-to > li {
    font-size: 2rem;
    margin-bottom: 10px;
    line-height: 24px;
    text-indent: -40px;
    margin-left: 40px;
}

.how-to > li:before {
  font-family: 'FontAwesome';
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  color: #2ab27b;
  text-indent: -1px;
  content: '\f08a';
  vertical-align: bottom;
  padding-left: 0px;
  padding-bottom: 1px;
  height: 24px;
  display: inline-block;
  margin-right: 15px;
  font-size: 25px;
}

.how-to > li:last-child {
  margin-bottom: 2.5rem;
}

.how-to a { color: #3aa3e3; }

.secondary-text {
  font-size: 1.75rem
}

// ##################
//   INLINE FORM
// ##################

fieldset { margin-left: 5rem; }
.control-label { padding-left: .5rem; }

// ##################
//   EDITABLE TABLE
// ##################

.milk-table-container {
  margin-left: 8rem;
  width: 70%;
}

th {
  color: rgba(119, 119, 119, 0.51);
  text-align: center;
}

td {
  text-align: center;
}

table input {
  background-color: transparent;
  border: none;
}

// ##################
//   FOOTER
// ##################

.first-footer-link > p, .second-footer-link > p,
.third-footer-link > p, .last-footer-link > p {
  font-weight: bold;
  padding: 10px 15px;
}

.first-footer-link > p { color: rgb(224,23,101); }

.second-footer-link > p { color: rgb(112,202,219); }

.third-footer-link > p { color: rgb(62,184,144); }

.last-footer-link > p { color: rgb(232,167,35); }

footer a { color: #9E9EA6; }

// ##################
//   END
// ##################
